<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CLIENT_ID</key>
		<string>1086666682711-cnllnj3pnmo6nqatv56al310ehb6tmmq.apps.googleusercontent.com</string>
		<key>REVERSED_CLIENT_ID</key>
		<string>com.googleusercontent.apps.1086666682711-cnllnj3pnmo6nqatv56al310ehb6tmmq</string>
		<key>API_KEY</key>
		<string>AIzaSyBb0It_NJ7e5FcvorNZvhrDVg6ZcyIBGkE</string>
		<key>GCM_SENDER_ID</key>
		<string>1086666682711</string>
		<key>PLIST_VERSION</key>
		<string>1</string>
		<key>BUNDLE_ID</key>
		<string>com.example.takos</string>
		<key>PROJECT_ID</key>
		<string>takos-7179e</string>
		<key>STORAGE_BUCKET</key>
		<string>takos-7179e.appspot.com</string>
		<key>IS_ADS_ENABLED</key>
		<false></false>
		<key>IS_ANALYTICS_ENABLED</key>
		<false></false>
		<key>IS_APPINVITE_ENABLED</key>
		<true></true>
		<key>IS_GCM_ENABLED</key>
		<true></true>
		<key>IS_SIGNIN_ENABLED</key>
		<true></true>
		<key>GOOGLE_APP_ID</key>
		<string>1:1086666682711:ios:feb82e70b6c87ec5e4ce12</string>
		<key>DATABASE_URL</key>
		<string>https://takos-7179e-default-rtdb.firebaseio.com</string>
	</dict>
</plist>